.parallax {
    background-image: radial-gradient(at 0% 0%, rgb(245,220,97), transparent 50%), radial-gradient(at -1% 52%, rgb(247,151,151), transparent 50%), radial-gradient(at 100% 0%, rgb(143,240,233), transparent 50%), radial-gradient(at 35% 103%, rgb(236,121,161), transparent 50%), radial-gradient(at 65% 52%, rgb(227,171,242), transparent 50%), radial-gradient(at 67% 90%, rgb(253,227,99), transparent 50%), radial-gradient(at 98% 96%, rgb(212,197,119), transparent 50%);
    width: 100%;
    margin: 0;
    min-height: 400px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    animation-name:  backgrounddegn;
    animation-duration: 2s;
    background-color: palevioletred;
}




.parallax:hover {
    background-color: rgb(255, 118, 118);
    animation-name:  design;
    animation-duration: 1s;
}

@keyframes design {
    0% {opacity: .5;}
    100% {opacity: 1;}
}


@keyframes backgrounddegn {
    100% {background-image: radial-gradient(at 0% 0%, rgb(245,220,97), transparent 50%), radial-gradient(at -1% 52%, rgb(247,151,151), transparent 50%), radial-gradient(at 100% 0%, rgb(143,240,233), transparent 50%), radial-gradient(at 35% 103%, rgb(236,121,161), transparent 50%), radial-gradient(at 65% 52%, rgb(227,171,242), transparent 50%), radial-gradient(at 67% 90%, rgb(253,227,99), transparent 50%), radial-gradient(at 98% 96%, rgb(212,197,119), transparent 50%);
    }
    80% {background-image: radial-gradient(at 0% 0%, rgb(245,220,97), transparent 50%), radial-gradient(at -1% 52%, rgb(247,151,151), transparent 50%), radial-gradient(at 100% 0%, rgb(143,240,233), transparent 50%), radial-gradient(at 35% 103%, rgb(236,121,161), transparent 50%), radial-gradient(at 65% 52%, rgb(227,171,242), transparent 50%), rad ial-gradient(at 67% 90%, rgb(253,227,99), transparent 50%);}
    60% {background-image: radial-gradient(at 0% 0%, rgb(245,220,97), transparent 50%), radial-gradient(at -1% 52%, rgb(247,151,151), transparent 50%), radial-gradient(at 100% 0%, rgb(143,240,233), transparent 50%), radial-gradient(at 35% 103%, rgb(236,121,161), transparent 50%), radial-gradient(at 65% 52%, rgb(227,171,242), tra  nsparent 50%);}
    40% {background-image: radial-gradient(at 0% 0%, rgb(245,220,97), transparent 50%), radial-gradient(at -1% 52%, rgb(247,151,151), transparent 50%), radial-gradient(at 100% 0%, rgb(143,240,233), transparent 50%), radial-gradient(at 35% 103%, rgb(236,121,161), transparent 50%);}
    20% {background-image: radial-gradient(at 0% 0%, rgb(245,220,97), transparent 50%), radial-gradient(at -1% 52%, rgb(247,151,151), transparent 50%), radial-gradient(at 100% 0%, rgb(143,240,233), transparent 50%);}
    10% {background-image: radial-gradient(at 0% 0%, rgb(245,220,97), transparent 50%), radial-gradient(at -1% 52%, rgb(247,151,151), transparent 50%);}
    5% {background-image: radial-gradient(at 0% 0%, rgb(245,220,97), transparent 50%);}


}

.outerdiv {
    margin-top: 200px;
    padding-left: 20px;
}


.intro {
    font-size: 50px;
    font-family: monospace;
    position: relative;
}

.seconddiv {
    background-image: url("./1707827325024.png");
    width: 80%;
    min-width: 600px;
    height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 50px;
    border-radius: 10px;
}

.innerdiv p{
    display: inline;
}

.moon {
    background-image: url("./1707834341998.png");
    position: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 200px;
    height: 200px;
    margin-top: 10px;
    display: block;
}
.moon:hover {
    background-image: url("./1707834303120.png");
}

.skills {
    /* background-image: radial-gradient(at 0% 0%, rgb(245,220,97), transparent 50%), radial-gradient(at -1% 52%, rgb(247,151,151), transparent 50%), radial-gradient(at 100% 0%, rgb(143,240,233), transparent 50%), radial-gradient(at 35% 103%, rgb(236,121,161), transparent 50%), radial-gradient(at 65% 52%, rgb(227,171,242), transparent 50%), radial-gradient(at 67% 90%, rgb(253,227,99), transparent 50%), radial-gradient(at 98% 96%, rgb(212,197,119), transparent 50%); */
    width: 100%;
    margin: 0;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.skillhead {
    margin-top: 100px;
    font-size: 50px;
    font-family: monospace;
}

.secondbody {
    width: 100%;
}


.secondbody:hover .moon{
    background-image: none
}
.focus {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.displayskill {
    background-image: radial-gradient(at 0% 0%, rgb(245,220,97), transparent 50%), radial-gradient(at -1% 52%, rgb(247,151,151), transparent 50%), radial-gradient(at 100% 0%, rgb(143,240,233), transparent 50%), radial-gradient(at 35% 103%, rgb(236,121,161), transparent 50%), radial-gradient(at 65% 52%, rgb(227,171,242), transparent 50%), radial-gradient(at 67% 90%, rgb(253,227,99), transparent 50%), radial-gradient(at 98% 96%, rgb(212,197,119), transparent 50%);
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.skillbox {
    background-color: rgb(25, 25, 25);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    text-align: center;
    color: white;
}

.skillbox:hover {
    background-image: radial-gradient(at 50% 50%, rgb(245,220,97), transparent 80%);
    color: black;
    border: 0.5px solid rgb(25, 25, 25);
    background-color: white;
}

.marquee {
    --gap: 0.5px;
    display: flex;
    position: relative;
    overflow: hidden;
    user-select: none;
    gap: var(--gap);
  }
  
  .marquee__content {
    flex-shrink: 0;
    display: flex;
    justify-content: space-around;
    gap: var(--gap);
    min-width: 100%;
    animation: scroll 20s linear infinite;
    font-size: 20px;
  }
  @keyframes scroll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-100% - var(--gap)));
    }
  }

  .imagedimen {
    width: 100%;
    height: 15rem;
    background-size: cover;
    background-image: radial-gradient(at 0% 0%, rgb(245,220,97), transparent 50%), radial-gradient(at -1% 52%, rgb(247,151,151), transparent 50%), radial-gradient(at 100% 0%, rgb(143,240,233), transparent 50%), radial-gradient(at 35% 103%, rgb(236,121,161), transparent 50%), radial-gradient(at 65% 52%, rgb(227,171,242), transparent 50%), radial-gradient(at 67% 90%, rgb(253,227,99), transparent 50%), radial-gradient(at 98% 96%, rgb(212,197,119), transparent 50%);
  }

/* .cardshadow{
    background:;
} */

  .cardshadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  }